{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('auth.static', filename='css/style.css') }}" />
{% endblock %}

{% block navbar %}{% endblock %}
{% block content %}
<form action="" method="POST" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>

    {{ form.password(class="form-control", id="password", placeholder="Password", type="password") }}

    {{ form.password2(class="form-control", id="password2", placeholder="Confirm Password", type="password") }}

    {{ form.csrf_token }}
    {{ form.submit(class="btn btn-lg btn-primary btn-block") }}

    <p class="mb-3 text-muted">Charleston<sup>AI</sup> &copy; 2020</p>
</form>
{% endblock %}