{% extends "blackfedora/base.html" %}

{% block content %}

<div class="interiorPageMain">
    <div class="twoThird">
        <h1>AUDITIONS for THE BLACK FEDORA COMEDY MYSTERY THEATRE</h1>

        <p>
            This is a rare opportunity to join our silly Professional House Cast. These are part-time paid positions.
        </p>

        <h2 class="customH3">AUDITION DATES (you need to attend one only):</h2>

        <p>
            We have no current audition opportunities. Please send your information to us at the email below, and we will contact you when we hold auditions again.\
            </br>
           
        </p>

        <h2 class="customH3">AUDITION REQUIREMENTS:</h2>
        <p>
            You must be at least age 21.
            </br>
            You will be asked to read from scripts with other actors.
            </br>If you wish, you may present a 2 min comic monologue, though this isn’t required.
        </p>

        <h2 class="customH3">BRING TO AUDITION:</h2>

        <p>
            A current PHOTO.
            </br>
            A WORK RESUME (all jobs, even non-acting related).
            </br>
            The names and contact information for TWO WORK OR THEATRE REFERENCES.
            </br>
            A LIST of acting experience if any.
        </p>

        <h2 class="customH3">AUDITION LOCATION:</h2>

        <p>
            The Black Fedora Comedy Mystery Theatre
            </br>
            164 Church Street, downtown Charleston // 843-937-6453
            </br>
            *A public PARKING GARAGE sits at corner of Church & Cumberland streets.
        </p>

        <h2 class="customH3">HOUSE CAST PART-TIME POSITIONS:</h2>

        <p>
            House Cast members play fully scripted, highly comic roles in continually running productions.
            As a cast member, you would be expected to memorize at least one full-length play, to prepare
            with limited rehearsal, and to be available to perform weekly at least two weekday evenings & at
            least two weekends every month. (You may work at other jobs/theatres as well as long as you are
            consistently available to us.) Cast members average 5-10 performances per month, and are paid
            well per performance with opportunity for raises.
        </p>

        <h2 class="customH3">IMPORTANT NOTE ON YOUR AVAILABILITY:</h2>
        <p>
            <u>Please only audition if your schedule is generally open so that you are available to us
                twice a week AS WELL AS two weekends a month.</u>
            (Again, you may work other jobs/theatres as long as you are consistently available to us as well.)
        </p>
<!--
        <h2 class="customH3">AUDITION SIDE:</h2>

        <p>Be prepared to read the role of Security Specialist Sammy:
            <u>
                <a href="{{ url_for('blackfedora.static', filename='AUDITION_PIECE_2019_SecurityGuardSammy.pdf' ) }}">
                    Audition Piece 2019.
                </a>
            </u>
            Does not have to be memorized.
        </p>
-->
        <h2 class="customH3">ADDITIONAL QUESTIONS:</h2>
        <p>Email us at <a href="mailto: auditions@charlestonmysteries.com">auditions@charlestonmysteries.com</a>.</p>
    </div>

    <div class="oneThird">
        <img src="{{ url_for('blackfedora.static', filename='images/charliedeshawnbrittsmallsize.jpg' ) }}" width="400" />
    </div>
</div>

{% endblock %}

