{% extends "blackfedora/base.html" %}

{% block content %}

<div class="interiorPageMain">
    <h1>The Cast of Characters</h1>
    <p>
        Take a look at these mugs! Every one of them is guilty of making the Black Fedora a place of laughter
        and joy night after night! It's criminal, I tell ya!     </p>

    <div class="fullWidth">
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/sherry.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/darryl.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/madison.jpg') }}" width="231" border="1">
        </div>
    </div>

    <div class="fullWidth">
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/ben.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/berita.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/chad.jpg') }}" width="231" border="1">
        </div>
    </div>

    <div class="fullWidth">
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/adam.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/glenn.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/erin.jpg') }}" width="231" border="1">
        </div>
    </div>

     <div class="fullWidth">
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/destiny.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/johnb.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/josh.jpg') }}" width="231" border="1">
        </div>
    </div>

    <div class="fullWidth">
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/kelly.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/krystal.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/barbara.jpg') }}" width="231" border="1">
        </div>
    </div>

    <div class="fullWidth">
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/larry.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/charliej.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/elizabeth.jpg') }}" width="231" border="1">
        </div>
    </div>

    <div class="fullWidth">
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/roby.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/saralyn.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/Jenn.jpg') }}" width="231" border="1">
        </div>
    </div>

     <div class="fullWidth">
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/allisonb.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/caroline.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/amanda.jpg') }}" width="231" border="1">
        </div>
    </div>

    <div class="fullWidth">
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/erinb.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/brandon.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/victoria.jpg') }}" width="231" border="1">
        </div>
    </div>

    <div class="fullWidth">
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/sheila.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/sean.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/erik.jpg') }}" width="231" border="1">
        </div>
    </div>

     <div class="fullWidth">
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/kyle.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/maddie.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/laurens.jpg') }}" width="231" border="1">
        </div>
    </div>

     <div class="fullWidth">
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/kerry.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/alan.jpg') }}" width="231" border="1">
        </div>
        <div class="oneThirdCast">
            <img src="{{ url_for('blackfedora.static', filename='images/mugs/deshawn.jpg') }}" width="231" border="1">
        </div>
    </div>
</div>

{% endblock %}
