{% extends "blackfedora/base.html" %}

{% block content %}
<div class="interiorPageMain">

    <div style="text-align:center; margin-top: 18px; margin-bottom: 30px;">
        <div class="alert alert-secondary" role="alert">
            <h1 class="text-danger">WE ARE TEMPORARILY CLOSED</h1>
            <h3 class="text-bf-blue">Due To That Darn Virus.</h3>

            <p>We don’t want to accept your money until we are sure we can open safely. Instead, please
                <a style="color: #577aa4; text-decoration: underline" href="mailto:info@charlestonmysteries.com">email us</a>
                with the date you’d like to come.
                As soon as we know when we can open,
                we’ll be in touch! Thank you! Hope to be laughing with you soon!</p>

        </div>
    </div>

</div>

{% endblock %}