{% extends "blackfedora/base.html" %}

{% block content %}

<div class="interiorPageMain">
    <div class="fullWidth">
        <h1>What They're Saying About Us ...</h1>
        <p>What do we read at night for fun? Our most recent reviews, of course ...</br></br></p>

        <p>
        <ul class="socialList">
            <li>
                <a href="http://www.tripadvisor.com/Attraction_Review-g54171-d3487690-Reviews-The_Black_Fedora-Charleston_South_Carolina.html" target="_blank">
                    <img src="{{ url_for('blackfedora.static', filename='images/tripadvisor2logo.png') }}" alt="TripAdvisor Logo"/>
                </a>
            </li>
            <li>
                <a href="https://www.yelp.com/biz/the-black-fedora-comedy-mystery-theatre-charleston" target="_blank">
                    <img src="{{ url_for('blackfedora.static', filename='images/yelplogo.png') }}" alt="Yelp Logo"/>
                </a>
            </li>
            <li>
                <a href="https://www.google.com/#q=black+fedora+comedy+mystery+theatre&lrd=0x88fe7a0def6d1d69:0x87870ce57997bcff,1," target="_blank">
                    <img src="{{ url_for('blackfedora.static', filename='images/googlelogo.jpg') }}" alt="Google Logo"/>
                </a>
            </li>
            <li>
                <a href="http://www.facebook.com/charlestonmysteries" target="_blank">
                    <img src="{{ url_for('blackfedora.static', filename='images/facebook2logo.png') }}" alt="Facebook Logo"/>
                </a>
            </li>
        </ul>

        <br/><br/>
        </p>

        <p>
        <h2 class="customH3">"Uproarious entertainment that will delight guests of all ages."</h2>

        <p><a href="https://www.thrillist.com/lifestyle/charleston/things-to-do-in-charleston" target="_blank"><i>&nbsp;&mdash;Thrillist</i>, "Actually Cool Things to Do in Charleston When Someone Visits"</a><br><br>


        <h2 class="customH3">"It was ridiculously perfect."</h2>

        <p><a href="https://www.postandcourier.com/charleston_scene/murder-mystery-theaters-in-charleston-will-bring-out-your-inner/article_1b1b4594-232d-11e9-b7db-d7f679b8af17.html" target="_blank"><i>&nbsp;&mdash;Post and Courier</i>, "Murder mystery theaters in Charleston will bring out your inner Nancy Drew"</a><br><br>

    <h2 class="customH3">"A trip to the theater is a howling good complement to any visit to Charleston, and the laughs are worth the price of admission."</h2>
    <p><a href="https://www.travelawaits.com/2470251/must-stop-spots-road-trip-through-the-south-atlantic-states/" target="_blank"><i>&nbsp;&mdash;TravelAwaits</i>, "8 Must-Stop Spots On A Road Trip Through The South Atlantic States"</a><br><br>

    <h2 class="customH3">"The small shop produced nothing but big laughs on a weekend night."</h2>
    <p><a href="http://theartmag.com/2014/04/review-heist-heist-baby-at-the-black-fedora/" target="_blank"><i>&nbsp;&mdash;Art Mag</i>, "Heist, Heist Baby at the Black Fedora"</a><br><br>

    <h2 class="customH3">"Teens and parents don't have to just watch the play unfold."</h2>
    <p><a href="http://discoversouthcarolina.com/articles/8-ways-to-have-fun-in-charleston-with-teenagers" target="_blank"><i>&nbsp;&mdash;Discover South Carolina</i>, "8 Ways to Have Fun in Charleston with Teenagers"</a><br><br>

    <h2 class="customH3">"Only regret was not going two nights in a row to Black Fedora."</h2>
    <p><a href="https://www.tripadvisor.com/Attraction_Review-g54171-d3487690-Reviews-The_Black_Fedora_Comedy_Mystery_Theatre-Charleston_South_Carolina.html"><i>&nbsp;&mdash;Recent Guest</i>, TripAdvisor</a><br><br>

    <h2 class="customH3">"Don't worry about being Meryl Streep or Dustin Hoffman because whether audience performers are good or bad is completely beside the point, you'll be laughing too hard at the whole set-up to care."</h2>
    <p><a href="https://www.tripadvisor.com/Attraction_Review-g54171-d3487690-Reviews-The_Black_Fedora_Comedy_Mystery_Theatre-Charleston_South_Carolina.html"><i>&nbsp;&mdash;Recent Guest</i>, TripAdvisor</a><br><br>

    <h2 class="customH3">"The team puts together some down home comedy that involves most of the audience. They’ve managed to provide laughter and entertainment that is truly appropriate for the entire family."</h2>
    <p><a href="https://www.tripadvisor.com/Attraction_Review-g54171-d3487690-Reviews-The_Black_Fedora_Comedy_Mystery_Theatre-Charleston_South_Carolina.html"><i>&nbsp;&mdash;Recent Guest</i>, TripAdvisor</a>
    </h2></p>


    <div class="fullWidth">


        <iframe width="100%" height="315" src="https://www.youtube.com/embed/yHRO3dPYQ4o" frameborder="0" allowfullscreen></iframe>

    </div>

    <br /><br />
    </div>
</div>
{% endblock %}